.discover {
    display: flex;
}

.discover__content {
    margin-left: 85px;
    margin-top: 126px;
    width: 600px;
}

.discover__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 0;
    line-height: 1;
    color: var(--color-black);
    margin-bottom: 30px;
}

.discover__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.7;
    letter-spacing: 0;
    color: var(--color-black);
    margin-bottom: 52px;
}

.discover__btn {
    width: 263px;
    height: 70px;
    background-color: var(--color-primary);
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(132, 94, 194, 0.15);
    margin-bottom: 107px;
    color: #FFF;
    font-family: 'Monserrat', sans-serif;
    font-weight: 600;
    font-size: 1.7;
    letter-spacing: 0;
    line-height: 1;
}

.bottom-box {
    display: flex;
}

.galary__item2, .galary__item3, .galary__item4 {
    margin-left: -37px;
}

.inner__galary {
    margin-right: 15px;
}

.reviews {
    font-family: 'Montserrat';
    width: 120px;
    font-weight: 500;
    color: var(--color-black);
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 1.3;
}

.play-video {
    padding-top: 504px;
}

.play-video p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.7;
    letter-spacing: 0;
    color: var(--color-black);
}


.discover__preview {
    padding-top: 75px;
}

.headphones {
    margin-left: 58px;
    width: 272px;
    height: 477px;
    background-image: url(../images/ellips.png);
    padding-top: 76px;
    text-align: center;
}

.headphones p {
    margin-top: 26px;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0;
    color: var(--color-black);
}

.star__bottom {
    margin-left: 362px;
    margin-bottom: 66px;
}

.airpod {
    width: stretch;
    height: 591px;
    display: flex;
    background-color: var(--color-bg);
    margin-inline: auto;
    padding-top: 73px;
}

.airpod__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
    margin-left: 90px;
    -webkit-text-stroke: 1px #FFF;
    -webkit-text-fill-color: transparent;
}

.group {
    margin-top: -30px;
    margin-left: 85px;
}

.price {
    font-family: 'Monserrat', sans-serif;
    color: #FFF;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0;

}

.price span {
    display: inline-block;
    padding-left: 15px;
    font-family: 'Monserrat', sans-serif;
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 1;
    letter-spacing: 0;
    color: #fff;
}

.airpod__price {
    text-align: center;
    
}

.airpod__content {
    padding-left: 55px;
    padding-top: 146px;
}

.airpod__content--title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2.75rem;
    line-height: 1;
    letter-spacing: 0;
    color: var(--color-white);
    margin-bottom: 10px;
}

.airpod__content--subtitle {
    font-family: 'Monserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.7;
    letter-spacing: 0;
    color: var(--color-white);
    width: 430px;
    margin-bottom: 35px;
}

.airpod__btn {
    width: 264px;
    height: 70px;
    background-color: var(--color-primary);
    border-radius: 10px;
    box-shadow: 0 25px 50px rgb(255, 255, 255, 0.1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--color-white);
    line-height: 1;
    font-size: 1.125rem;
    letter-spacing: 0;
    margin-right: 49px;
}

.airpod__link-box a {
    color: var(--color-white);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 0;
}

.sellers__container {
    width: stretch;
    padding-top: 130px;
}

.sellers__title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.75rem;
    line-height: 1;
    letter-spacing: 0;
    color: var(--color-black);
    margin-bottom: 55px;
}

.sellers__box-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
    margin-bottom: 92px;
}

.ellips {
    width: 177px;
    height: 91px;
    background-color: var(--color-primary);
    border-radius: 50%;
}

.ellips p {
    color: var(--color-white);
    text-align: center;
    font-family: 'Monserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 3.7;
}

.watches__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1;
    color: #000;
}

.sellers {
    margin-bottom: 130px;
}

.swiper__wrapper {
    width: stretch;
    height: 600px;
}

.swiper__image {
    width: 361px;
    height: 438px;
    background-color: #ECFEF4;
    border-radius: 15px;
    padding-top: 13px;
    margin-inline: auto;
    margin-bottom: 29px;
}


.swiper__image3 {
    width: 361px;
    height: 438px;
    background-color: #ECFEF4;
    border-radius: 15px;
    padding-top: 13px;
    margin-inline: auto;
    margin-bottom: 29px;
}

.circle-green {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: var(--color-primary);
    border-radius: 50%;
    margin-left: 242px;
    padding-top: 32px;
    position: absolute;
    z-index: 2;
}

.circle-violet {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #845EC2;
    border-radius: 50%;
    margin-left: 242px;
    padding-top: 32px;
    position: absolute;
    z-index: 2;
}

.circle-violet > p {
    text-align: center;
    font-family: 'Monserrat', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 0;
    color: #fff;
    width: 70px;
}
    
.circle-green > p {
    text-align: center;
    font-family: 'Monserrat', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 0;
    color: #fff;
    width: 70px;
}

.headphone__btn {
    display: block;
    width: 361px;
    height: 70px;
    background-color: var(--color-primary);
    border-radius: 10px;
    margin-inline: auto;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.31rem;
    color: #fff;
    line-height: 1;
    letter-spacing: 0;
} 

.headphone1 {
    margin-left: 83px;
    margin-top: 17px;
    margin-bottom: 30px;
}

.headphone__description {
    width: 319px;
    height: 164px;
    border-radius: 15px;
    background-color: var(--color-white);
    margin-inline: auto;
    padding-top: 31px;
    padding-left: 52px;
}

.headphone__description3 {
    width: 319px;
    height: 164px;
    border-radius: 15px;
    background-color: var(--color-white);
    margin-inline: auto;
    padding-top: 31px;
    padding-left: 52px;
    margin-top: -5px;
}

.headphone__model {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.7;
    letter-spacing: 0;
    color: var(--color-black);
    margin-bottom: 3px;
}

.stars {
    display: flex;
    gap: 13px;
    align-items: center;
}

.stars__reviews {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 3.1;
    letter-spacing: 0;
    color: #888;
    padding-top: 6.5px;
}

.price {
    font-family: 'Motserrat', sans-serif;
    font-weight: 600;
    font-size: 1.31rem;
    line-height: 1;
    color: var(--color-black);
}
   
.swiper__image2 {
    width: 361px;
    height: 438px;
    background-color: #C9F2FF;
    border-radius: 15px;
    padding-top: 7px;
    margin-inline: auto;
    margin-bottom: 29px;
}

.headphone2 {
    margin-left: 60px;
    margin-bottom: 8px;
}

.swiper__image3 {
   width: 361px;
    height: 438px;
    background-color: #E5D5FF;
    border-radius: 15px;
    padding-top: 13px;
    margin-inline: auto;
    margin-bottom: 29px; 
}

.headphone3 {
    margin-left: 56px;
    
}

.earphones {
    margin-bottom: 130px; 
}

.earphones__title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 1;
    letter-spacing: 0;
    color: var(--color-black);
    margin-bottom: 55px;
}

.earphones__link-box {
    display: flex;
    gap: 65px;
    justify-content: center;
    align-items: center;
    margin-bottom: 92px;
}

.earphones__ellips {
    width: 177px;
    height: 91px;
    background-color: var(--color-primary);
    border-radius: 50%;
    text-align: center;
}

.earphones__ellips p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 90px;
    color: var(--color-white);
}

.earphones__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1;
    letter-spacing: 0;
    color: #000;
}

.swiper__image-1a {
    width: 361px;
    height: 438px;
    background-color: #E0EFFF;
    border-radius: 15px;
    padding-top: 13px;
    margin-inline: auto;
    margin-bottom: 29px;
}


.earphone1 {
    margin-left: 85px;
    margin-top: 45px;
    margin-bottom: 30px;
}

.swiper__image-2a {
    width: 361px;
    height: 438px;
    background-color: #E8F9FF;
    border-radius: 15px;
    padding-top: 13px;
    margin-inline: auto;
    margin-bottom: 29px;
}

.swiper__image-3a {
    width: 361px;
    height: 438px;
    background-color: #D3FBFB;
    border-radius: 15px;
    padding-top: 13px;
    margin-inline: auto;
    margin-bottom: 29px;
}

.circle-blue p {
    text-align: center;
    font-family: 'Monserrat', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 0;
    color: #fff;
    width: 70px;
}

.circle-blue {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #08BDbe;
    border-radius: 50%;
    margin-left: 242px;
    padding-top: 32px;
    position: absolute;
    z-index: 2;
}

.earphone3 {
    margin-left: 56px;
}

.earphones {
    margin-bottom: 130px;
}

.airdrop__title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
    color: var(--color-black);
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 120px;
}

.slide1 {
    display: flex;
    width: stretch;
    height: 591px;
    background-color: #845EC2;
    padding-left: 124px;
}

.airdrop__group-foto {
    height: stretch;
    padding-top: 62px;
}

.next3 {
    margin-right: 63px;
}

.prev3 > img {
    margin-left: 60px; 
}

.airdrop__content {
    width: 630px;
    padding-top: 73px;
    padding-left: 82px;
}

.slide-airdrop__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3.9rem;
    color: var(--color-white);
    margin-bottom: 29px;
    letter-spacing: 0;
    line-height: 1;
}

.slide-airdrop__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--color-white);
    margin-bottom: 50px;
}

.airdrop__price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.7;
    color: var(--color-white);
    margin-bottom: 50px;
}

.airdrop__price span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.9;
    line-height: 1;
    letter-spacing: 0;
    color: var(--color-white);
    display: inline-block;
    margin-left: 20px;
}

.multicolor-circles {
    display: flex;
    gap: 35px;
    align-items: center;
    margin-bottom: 50px;
}

.airdrop__black-circle {
    content: "";
    width: 43px;
    height: 43px;
    background-color: #000;
    border-radius: 50%;
    border: 1px solid #FF0000
}

.airdrop__yellow-circle {
    content: "";
    width: 43px;
    height: 43px;
    background-color: #FFF500;
    border-radius: 50%;
}

.airdrop__blue-circle {
    content: "";
    width: 43px;
    height: 43px;
    background-color: #4484FF;
    border-radius: 50%;
}

.airdrop__link {
    display: flex;
    align-items: center;
    gap: 77px;
    margin-bottom: 70px;
}

.airdrop__btn {
    width: 303px;
    height: 70px;
    background-color: var(--color-primary);
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(255, 255, 255, 0.1);
    font-family: 'Montserat', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
    color: var(--color-white);
}

.airdrop__link a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1;
    letter-spacing: 0;
    color: var(--color-white);
}

.footer {
    width: stretch;
    height: 665px;
    padding-top: 130px;
}

.footer__wrapper {
    width: 1068px;
    height: 405px;
    margin-inline: auto;
}

.footer__start {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.footer__start-text {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1;
    letter-spacing: -0.3px;
    color: #111;
}

.footer__start-btn {
    width: 175px;
    height: 50px;
    background-color: var(--color-primary);
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 50px;
    letter-spacing: -0.23px;
    color: var(--color-white);
}

.footer__bottom-line {
    width: 100%;
    height: 1px;
    border: none;
    border-top: 1px solid rgba(17, 17, 17, .1);
    margin-bottom: 40px;
}

.airpod__price p {
    font-family: 'Monserrat', sans-serif;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.1;
    letter-spacing: 0;
    color: var(--color-white);

}

.footer__container {
    display: flex;
    align-items: start;
}

.footer__form {
    margin-right: 100px;
    margin-bottom: 113px;
}

.submit-box {
    display: flex;
    align-items: center;
}

.footer__subscribe {
    width: 175px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: -0.3px;
    color: #111;
    margin-bottom: 30px;
}

.footer__form-input {
    height: 50px;
    border-bottom: 1px solid rgba(17, 17, 17, .1);
}

.footer__form-input::placeholder {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1;
    letter-spacing: -0.2px;
    opacity: 50%;
    color: #111;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-right: 170px;
    width: 110px;
}

.list__name {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1;
    letter-spacing: 0.23px;
    color: var(--color-primary);
}

.footer__item-link {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1;
    letter-spacing: -0.2px;
    color: #111;
}

.footer__menu-list3 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.last-str {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 129px;
}

.terms {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1;
    letter-spacing: -0.2px; 
    color: #111;
    margin-right: 39px;
}

.privacy {
    font-family: 'DN Sans';
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.2;
    color: #111;
}

.social-network {
    display: flex;
    gap: 40px;
}




